In [7]:
import pandas as pd
import numpy as np

In [2]:
revisions_df = pd.read_csv('../list-of-forks-apoc-subgraph-git-master.csv')
revisions_df.head()

   snapshot_id                                   node.id
0       929562  b9e8521821bb095da8e7f65f3b2bf83747addbe6
1      1053501  72dd3230aa990473df569d8a17d589fec933401d
2      1053501  879c3ebb01015911091ff856d315ddc821328093
3      1338295  3d6f7f74e103b8c827c1f88803141c9bcbbfb089
4      1493487  98f7f6f228283aec1e07d274b8664acbdc27a7d2

In [2]:
from neo4j import GraphDatabase

uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "password"))

In [5]:
# def print_friends_of(tx, name):
#     for record in tx.run("MATCH (s:Snapshot)-[:MASTER]->(r) WHERE s.type is not null WITH DISTINCT r, s.id as snapshot_id CALL apoc.path.subgraphNodes(r, {relationshipFilter: \"PARENT>\"}) YIELD node WITH snapshot_id, node, size((:Revision)-[:PARENT]->(node)) AS NumOfChildren WHERE NumOfChildren > 1 RETURN snapshot_id, node.id;", name=name):
#         print(record["node.id"])


# with driver.session() as session:
#     session.read_transaction(print_friends_of, "Alice")

In [8]:
origin_visit_df = pd.read_csv('../origin_visit.csv')

   origin  visit                      date status  metadata  snapshot_id
0  861868      1  2015-08-11T10:42:52.831Z   full       NaN    1502565.0
1  861868      2  2016-02-26T04:43:14.106Z   full       NaN    1502566.0
2  861868      3  2016-03-28T17:54:15.605Z   full       NaN    1502567.0
3  861868      4  2016-05-22T17:37:53.748Z   full       NaN    1502568.0
4  861868      5  2016-06-07T01:00:47.678Z   full       NaN    1502569.0

In [14]:
# origin_visit_df['snapshot_id'] = origin_visit_df['snapshot_id'].astype('int64')
origin_visit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238566 entries, 0 to 238565
Data columns (total 6 columns):
origin         238566 non-null int64
visit          238566 non-null int64
date           238566 non-null object
status         238566 non-null object
metadata       0 non-null float64
snapshot_id    209323 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 10.9+ MB