In [1]:
import pandas as pd
import numpy as np

In [2]:
revision_point = pd.read_csv('/mnt/17volume/data/snapshot_fork_revision.csv')

In [3]:
revision_point.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
snapshot_id       1000 non-null int64
committer_date    1000 non-null int64
author            1000 non-null int64
committer         1000 non-null int64
date              1000 non-null int64
fork_id           1000 non-null int64
dtypes: int64(6)
memory usage: 46.9 KB

In [4]:
revision_point.head()

   snapshot_id  committer_date  author  committer        date   fork_id
0        10000      1421228792   31614      31614  1421228792  22922166
1        10000      1420815984   31614      31614  1420815984  22922166
2        10000      1420815984   31614      31614  1420815984  29333801
3        10000      1420815984   31614      31614  1420815984  41493393
4        10000      1420820287   31614      31614  1420820287  22922166

In [5]:
revision_point = revision_point.sort_values(by=['date'], ascending=False)

In [6]:
revision_point.head()

     snapshot_id  committer_date  author  committer        date   fork_id
345       100008      1439219992  116206     116206  1439219992  37873631
324       100008      1439219992  116206     116206  1439219992  24471196
335       100008      1439219992  116206     116206  1439219992  33090937
334       100008      1439219992  116206     116206  1439219992  32484283
333       100008      1439219992  116206     116206  1439219992  31307392

In [7]:
snapshot_dicts = dict()
for i, row in revision_point.iterrows():
    snapshot_id = row['snapshot_id']
    fork_snapshot_id = row['fork_id']
    if snapshot_id not in snapshot_dicts:
        snapshot_dicts[snapshot_id] = dict()
    snapshot_dict = snapshot_dicts[snapshot_id]
    if fork_snapshot_id not in snapshot_dict:
        snapshot_dict[fork_snapshot_id] = i
    else:
        if revision_point.at[snapshot_dict[fork_snapshot_id], 'date'] < row['date']:
            snapshot_dict[fork_snapshot_id] = i

rows_to_keep = []
for i, snapshot_dict in snapshot_dicts.items():
    for j, fork_snapshot_row_idx in snapshot_dict.items():
        rows_to_keep.append(fork_snapshot_row_idx)
print(rows_to_keep)
print("Number of forks to keep", len(rows_to_keep))

[327, 352, 287, 330, 305, 161, 337, 59, 117, 45, 360, 249, 291, 552, 176, 201, 355, 312, 321, 771, 26, 54, 273, 135, 333, 347, 732, 316, 346, 38, 324, 85, 20, 348, 310, 689, 353, 81, 58, 358, 519, 362, 614, 298, 76, 338, 284, 314, 315, 227, 319, 46, 23, 359, 329, 150, 592, 649, 198, 654, 332, 91, 336, 171, 276, 603, 604, 322, 354, 357, 320, 331, 339, 344, 340, 244, 350, 31, 325, 684, 30, 64, 219, 328, 246, 335, 77, 90, 302, 652, 341, 21, 356, 70, 237, 343, 323, 42, 317, 47, 349, 334, 197, 361, 326, 269, 351, 22, 65, 289, 342, 795, 345, 266, 49, 318, 313, 251, 311, 16, 12, 3]
('Number of forks to keep', 122)

In [8]:
snapshot_fork_revision_duplicated_removed = revision_point[revision_point.index.isin(rows_to_keep)].reset_index()

In [9]:
snapshot_fork_revision_duplicated_removed.head()

   index  snapshot_id  committer_date  author  committer        date   fork_id
0    345       100008      1439219992  116206     116206  1439219992  37873631
1    324       100008      1439219992  116206     116206  1439219992  24471196
2    335       100008      1439219992  116206     116206  1439219992  33090937
3    334       100008      1439219992  116206     116206  1439219992  32484283
4    333       100008      1439219992  116206     116206  1439219992  31307392

In [10]:
snapshot_fork_revision_duplicated_removed.to_csv("snapshot_fork_revision_duplicates_removed.csv", index=False)