In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
origin = pd.read_csv("/mnt/17volume/data/origin.csv")
origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70039279 entries, 0 to 70039278
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   origin       int64
 1   date         object
 2   snapshot_id  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ GB

In [54]:
origin_3 = origin.groupby('snapshot_id')['origin'].value_counts().reset_index(name='counts')

In [57]:
origin_1 = origin_3[origin_3['counts'] == 1]

In [58]:
origin_1

          snapshot_id    origin  counts
405              16.0         9       1
406              16.0        17       1
407              16.0        21       1
408              16.0        30       1
409              16.0        31       1
...               ...       ...     ...
58125922   62724568.0  66630253       1
58125923   62724569.0  66630244       1
58125924   62724570.0  66630255       1
58125925   62724571.0  66630265       1
58125926   62724572.0  66629964       1

[57692798 rows x 3 columns]